<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Assignment Suite">
	<listeners>
        <listener class-name="Listener.TestNGListener"/>
    </listeners>
    <test name="Flight Search test">
        <classes>
            <class name="NewPackage.FlightSearch"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->